{% load static %}
<!DOCTYPE html>
<html>  
  <head> 
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" type="text/css"  href="{% static 'registro/style.css'%}">

      {% block header %} {% endblock %}
      
  </head>          


        
<body>
 <h1>BD de livros</h1>

    <div class="navbar">

        <a href="{% url 'home' %}"  >Inicial</a>
        <a href="{% url 'about' %}" >Sobre</a>
{% if  request.COOKIES.login%} 
        <a href="{% url 'books_list' %}">Lista de Livros</a>  
        <a href="{% url 'new_book' %}">Cadastrar livros</a>
        <a href="{% url 'my_books' %}">Meus Livros</a>
        <a href="{% url 'logout' %}"  >Sair</a>
{% else %}  
{% endif %}


    </div>




    <div class="corpo">
    {% block content %}
    <div class="content container" >
        <div class="row">
            <div class="col-md-8">
            </div>
          </div>
      </div>
     </div>
            {% endblock %}
</body>

</html>

